POSTGRES_DB=ttdb
POSTGRES_USER=ttuser
POSTGRES_PASSWORD=ttpass
POSTGRES_PORT=5432

API_PORT=3333
WEB_PORT=3000
DATABASE_URL=postgres://ttuser:ttpass@localhost:5432/ttdb
NEXT_PUBLIC_API_URL=http://localhost:3333
